name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Executar testes com pytest
      run: |
        PYTHONPATH=. pytest || echo "⚠️ Testes falharam!"

    - name: SAST com Bandit
      run: |
        bandit -r app/ || echo "⚠️ Vulnerabilidades no código detectadas!"

    - name: Verificar vulnerabilidades em dependências
      run: |
        pip-audit || echo "⚠️ Vulnerabilidades em dependências!"
